@{
    ViewData["Title"] = "About";
}

<!-- Start top-section Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-between align-items-center text-center banner-content">
            <div class="col-lg-12">
                <h1 class="text-white"> Sobre nós </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End top-section Area -->
<!-- Start features Area -->
<section class="features-area section-gap-top" id="news">
    <div class="container">
        <div class="row feature_inner">
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">

                    <i class="fi flaticon-beach"></i>
                    <h4> Viagem Perfeita </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                        sapien arcu, vulputate vel erat vestibulum, tincidunt ullamcorper elit. Nulla
                        facilisi. Mauris egestas sapien ex, at congue risus consequat i
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="fi flaticon-compass"></i>
                    <h4> Roteiros Personalizados </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                        sapien arcu, vulputate vel erat vestibulum, tincidunt ullamcorper elit. Nulla
                        facilisi. Mauris egestas sapien ex, at congue risus consequat i
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-item">
                    <i class="fi flaticon-bathroom"></i>
                    <h4> Hospedagem </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                        sapien arcu, vulputate vel erat vestibulum, tincidunt ullamcorper elit. Nulla
                        facilisi. Mauris egestas sapien ex, at congue risus consequat i
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End features Area -->
<!-- Start About Area -->
<section class="about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7 col-md-12 about-left">
                <img class="img-fluid" src="assets/img/sobre.png" alt="">
            </div>
            <div class="col-lg-5 col-md-12 about-right">
                <div class="section-title text-left">
                    <h4>Quem somos</h4>
                    <h2>Code Universe</h2>
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Etiam sapien arcu, vulputate vel erat vestibulum, tincidunt ullamcorper elit. Nulla facilisi.
                    </p>
                </div>
                <a href="#" class="primary-btn"> Saiba Mais</a>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start brands Area -->
<section class="brands-area">
    <div class="container no-padding">
        <div class="brand-wrap section-gap">
            <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="assets/img/brands/b1.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="assets/img/brands/b2.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="assets/img/brands/b3.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="assets/img/brands/b4.png" alt=""></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="assets/img/brands/b5.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End brands Area -->